
h1 {
    color: pink;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

header {
    background-color: beige;
}

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caixa {
    background-color: beige;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem 0.7rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.436);
}

#preview {
    width: auto;
    height: 11.5rem;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0 0 0.5rem;
    gap: 0.4rem;
}


