header {
    background: #C4C4C4;
    border: 1px solid #000000;
    width: 100%;
    height: 3em;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.b1 {


background: #F7A75D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    color: #000000;
}
.b2 {


background: #F75D5D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    color: #000000;
}
input {
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 150px;
    left: 423px;
    top: 643px;
    width: 500px;
    height: 150px;
    left: 423px;
    top: 643px;

background: #FAFAFA;
border: 1px solid #000000;
}
#botaoenviar {
    background: #0066CC;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
width: 79px;
height: 36px;
left: 933px;
top: 643px;

    width: 79px;
    height: 36px;
    left: 933px;
    top: 643px;

    color: #FFFFFF;
}
.escopo {
    background-color: rgb(233, 224, 224);
}
